*{
    box-sizing: border-box;
}
body{
    background-color: #171628;
}
#sign-up-form{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(10%);
    background-color: #fff;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}
#header{
    background-color: ghostwhite;
    border-radius: 10px;

}
#header h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #171628;
}
#form{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
form{
    display: block;
}
label{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    font-weight:100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-element input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.form-element{
    margin: 5px;
    display: block;
}
.form-element i{
    visibility: visible;
    position: absolute;
    left: 89%;
}
.form-element small{
    visibility:hidden;
    color: red;
}
.form-element.error small{
    visibility: visible;
}
.form-element.error input{
    border: 1px solid red;
}
.form-element.success input{
    border: 2px solid lightgreen;
}
.form-element.error small{
    visibility: visible;
}
.form-element.error input{
    border: 1px solid red;
}
.form-element.success input{
    border: 1px solid lightgreen;
}
input[type=submit]{
    margin-top: 10px;
    margin-bottom:10px ;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: larger;
}

input::placeholder{
    font-size: small;
    font-weight: 100;
}
a{
    text-decoration: none;
    margin-left: 20%;
    padding-bottom: 20px;
}
#feedback{
    display:block;
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#feedback #check{
    font-size: 150px;
    color: green;
    margin-top: 15%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 70px;
}
#feedback a{
    font-size: larger;
    text-align: center;
    margin-left: 25%;
    margin-top: 100px;
    font-family:'Times New Roman', Times, serif;
}
